@use "assets/mixins";
@use "assets/colors";

.home {
  background-color: colors.$background-color;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border: 1px solid white;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
    @include mixins.tablet {
     width: 90%;
    }
	}
}

.sidebar {
	flex: 1;
	background-color: #FCF0D0;
	position: relative;
}